body{
	margin: 0;
	font-family: 'Lobster Two', cursive;
	font-size: 20px;
}

header{
	background-color: #43065E;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 12px;
}

h1, h2{
	font-family: 'Bebas Neue', cursive;
	font-size: 50px;
}

header h1{
	color: white;
	font-size: 80px;	
}

header img{
	border-radius: 400px;
    border-width: 50px;
    padding: 8px;
    border: 10px solid whitesmoke;
    background-color: lightblue;
}

main{
	max-width: 3000px;
	margin: 0 auto;
	padding: 0 30px 30px 30px;
}